<!DOCTYPE html>
<html>
    <head>
        <h1><center><b> Welcome to kube-bench_automation v0.1! </b></center></h1>
    </head>
    <body>
        <center>
            <div style="width:400px;">
                <div style="float: left; width: 130px">
                    <form method ="post" action="/button_start">
                        <button type="submit" name="start" value="start" style="background-color:greenyellow;height:75px;width:200px">
                            <p style="font-size:25px">
                                <b> Start </b>
                            </p>
                        </button>
                    </form>
                </div>
                <div style="float: right; width: 130px">
                    <form method ="post" action="/button_end">
                        <button type="submit" name="end" value="end" style="background-color: red;height:75px;width:200px">
                            <p style="font-size:25px">
                                <b> End </b>
                            </p>
                        </button>
                    </form>
                </div>
            </div>
            </center>
        </center> 
    </body>
</html>